@page "/reset-password"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
	Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}
<section class="forgot__area-one">
	<div class="container">
		<div class="text-center mb-55">
			<h1 class="text-48-bold">Reset Password?</h1>
		</div>
		<div class="box-form-login">
			<div class="head-login">
				<div class="form-login form-forgot">
					<form method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						@if (Model.Input.IsLinkExpired)
						{
							<div class="alert alert-warning">
								<p class="text-infos">
                                    The reset password link has expired. Please request a new link.
								</p>
							</div>
						}
						else if(!string.IsNullOrEmpty(Model.Input.Status))
						{
							<div class="alert alert-warning">
								<p class="text-infos">
									Your password has been reset successfully. You can now log in with your new password. Go to the <a href="/login">login</a> page to access your account.
								</p>
							</div>
                        }
						else
						{
							<div class="alert alert-info">
								<p class="text-infos">
									Please enter your new password you would like to set.
								</p>
							</div>

							<input asp-for="Input.Code" type="hidden" />
							<input asp-for="Input.Email" type="hidden" />
							<input asp-for="Input.Date" type="hidden" />
							<div class="form-group">
								<input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Please enter your password." />
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-login" value="Reset password" />
							</div>
						}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}